@media(max-width:1200px){

    .main-container{

        grid-template-columns:
            1fr 360px;

    }

}

@media(max-width:980px){

    .main-container{

        grid-template-columns:1fr;

    }

    .form-panel{

        max-width:700px;

        margin:auto;

    }

    .mockup-wrapper{

        margin:auto;

    }

}

@media(max-width:768px){

    .main-container{

        padding:1rem;

    }

    .form-panel{

        padding:1.5rem;

    }

}