<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    >
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/globals.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <link rel="stylesheet" href="/static/css/mockup.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
    <script src="https://kit.fontawesome.com/23fef3a553.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="container">
    <section class="mockup-section">
        <div class="mockup-wrapper">
            <img src="/static/img/mockup.png" alt="Mockup" class="mockup-image">

            <div class="photo-container">
                <img src="" id="preview-photo" class="preview-photo">
            </div>

            <span id="preview-name" class="mockup-text preview-name">
                    NOME AQUI
                </span>

            <span id="preview-rank" class="mockup-text preview-rank">
                    PATENTE AQUI
                </span>

            <span id="preview-passport" class="mockup-text preview-passport">
                    Nº AQUI
                </span>

            <span id="preview-age" class="mockup-text preview-age">
                    IDADE AQUI
                </span>

            <span id="preview-date" class="mockup-text preview-date">
                    DATA AQUI
                </span>

            <span id="preview-id" class="mockup-text preview-id">
                {{codigo}}
            </span>

        </div>
        <div class="download-wrapper">
            <button id="download-btn" type="submit" form="certificate-form">
                <i class="fa-solid fa-download"></i>
                BAIXAR BREVÊ
            </button>
        </div>

    </section>
    <section class="form-section">
        <div class="form-card">
            <h1>REGISTRAR BREVÊ</h1>
            <p>
                Sistema de geração operacional
            </p>

            <form id="certificate-form" enctype="multipart/form-data">
                <div class="input-group">
                    <label>Nome do Oficial</label>
                    <input type="text" id="name" name="nome" placeholder="Digite o nome">
                </div>

                <div class="input-group">
                    <label>Patente</label>
                    <select id="rank" name="patente">
                        <option value="">Selecione</option>

                        <option>Soldado</option>
                        <option>Cabo</option>
                        <option>3º Sargento</option>
                        <option>2º Sargento</option>
                        <option>1º Sargento</option>
                        <option>Subtenente</option>
                        <option>Aspirante</option>
                        <option>2º Tenente</option>
                        <option>1º Tenente</option>
                        <option>Capitão</option>
                        <option>Major</option>
                        <option>Tenente Coronel</option>
                        <option>Coronel</option>
                    </select>
                </div>

                <div class="input-group">
                    <label>Passaporte</label>
                    <input type="text" id="passport" name="passaporte" placeholder="Digite o passaporte">
                </div>

                <div class="input-group">
                    <label>Idade</label>
                    <input type="number" id="age" name="idade" placeholder="Digite a idade">
                </div>

                <div class="input-group">
                    <label>Data de conclusão</label>
                    <input type="date" id="date" name="data_conclusao">
                </div>

                <div class="input-group">
                    <label for="photo">FOTO DO OFICIAL </label>
                    <input type="file" id="photo" name="foto" accept="image/*">
                </div>
            </form>
        </div>
    </section>
</div>

<script src="/static/js/formatter.js"></script>
<script src="/static/js/preview.js"></script>
<script src="/static/js/app.js"></script>
<script src="/static/js/lib/html2canvas.min.js"></script>
<script src="/static/js/save.js"></script>
</body>
</html>